The DBpedia ontology classification dataset is constructed by picking 14 non-overlapping classes from DBpedia 2014. 
They are listed in classes.txt. From each of thse 14 ontology classes, 
we randomly choose 40,000 training samples and 5,000 testing samples. 
Therefore, the total size of the training dataset is 560,000 and testing dataset 70,000.

Download Dataset : "https://github.com/le-scientifique/torchDatasets/raw/master/dbpedia_csv.tar.gz"
Open it here

In [1]:
import pandas as pd
import numpy as np

In [2]:
fp = open('dbpedia_csv/classes.txt','rt')
class_names =  fp.readlines()
fp.close()
class_names = [x.strip() for x in class_names]
class_names

['Company',
 'EducationalInstitution',
 'Artist',
 'Athlete',
 'OfficeHolder',
 'MeanOfTransportation',
 'Building',
 'NaturalPlace',
 'Village',
 'Animal',
 'Plant',
 'Album',
 'Film',
 'WrittenWork']

In [9]:
df = pd.read_csv('dbpedia_csv/train.csv',encoding='utf8',header=None)
df.columns = ['label','title','description']
fp =  open('dbpedia.train','wt',encoding='utf-8')
for i in range(len(df)) :
    label =  '__label__'+class_names[df.label[i]-1]+' '
    text = ', '+df.title[i].lower()+' '+df.description[i].lower()
    line = label + text+'\n'
    fp.write(line)
    if i%40000 == 0:
        print(class_names[int(i/40000)])
fp.close()

Company
EducationalInstitution
Artist
Athlete
OfficeHolder
MeanOfTransportation
Building
NaturalPlace
Village
Animal
Plant
Album
Film
WrittenWork

In [4]:
df.sample(10)

,label,title,description
382786,10,Carposina pinarodes,Carposina pinarodes is a moth in the Carposin...
398469,10,Spilarctia sinica,Spilarctia sinica is a moth in the Arctiidae ...
47198,2,Benedictine University at Springfield,Benedictine University at Springfield formerl...
514730,13,Overland Pacific,Overland Pacific is a 1954 Western film.
19029,1,KreataGlobal,Kreata Global is a digital outsourcing firm w...
302784,8,Sand Range,The Sand Range is a mountain range in Washoe ...
460055,12,Love's Theme Song Kiss,Love's Theme Song Kiss (Chinese: 愛的主打歌·吻; pin...
328994,9,Mišljen,Mišljen (Cyrillic: Мишљен) is a village in th...
270054,7,Capt. Salem Avery House,The Capt. Salem Avery House is a historic hom...
165002,5,Simon Cameron,Simon Cameron (March 8 1799 – June 26 1889) w...

In [10]:
df = pd.read_csv('dbpedia_csv/test.csv',encoding='utf8',header=None)
df.columns = ['label','title','description']
fp =  open('dbpedia.test','wt',encoding='utf-8')
for i in range(len(df)) :
    label =  '__label__'+class_names[df.label[i]-1]+' '
    text = ', '+df.title[i].lower()+' '+df.description[i].lower()
    line = label + text+'\n'
    fp.write(line)
    if i%5000 == 0:
        print(class_names[int(i/5000)])
fp.close()

Company
EducationalInstitution
Artist
Athlete
OfficeHolder
MeanOfTransportation
Building
NaturalPlace
Village
Animal
Plant
Album
Film
WrittenWork